		@font-face {
			font-family: oswald;
			src: url("../fonts/oswald.ttf");
		}
		@font-face {
			font-family: poppins;
			src: url("../fonts/poppins.ttf");
		}
		@font-face {
			font-family: comfortaa;
			src: url("../fonts/comfortaa.ttf");
		}
		@font-face {
			font-family: montserrat;
			src: url("../fonts/montserrat.ttf");
		}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: #444444;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #cccccc;
}

a{
	text-decoration:none;
}

a:visited{
	color:inherit
}

a:hover{
	text-decoration:none;
}

body{
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	overflow-x:hidden;
}

html{
	scroll-behavior: smooth;
}

.header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:90px;
	background:linear-gradient(90deg, rgba(46,52,61,1) 0%, rgba(46,52,61,1) 100%);
	font-family:montserrat;
	text-align:center;
	overflow:hidden;
	margin:0;
	transition:ease 0.2s;
}

.header:hover .gradient{
	opacity:1;
}

.header:hover{
	box-shadow: 10px 10px 30px rgba(180,180,180,0.2);
}

.gradient{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:linear-gradient(90deg, rgba(46,52,61,1) 0%, rgba(87,90,98,1) 100%);
	opacity:0;
	transition:ease 0.3s;
}

.headerLinks{
	position:relative;
	margin:35px 15px;
	display:inline-block;
	text-decoration:none;
	color: white !important;
	cursor:pointer;
	width:auto;
	overflow:hidden;
	font-size:20px;
	transition:0.3s ease;
}


.headerLinks:hover{
	color:#ae0000 !important;
}

.headerLinks:hover .linija{
	left:0%;
}

.linktosite:hover .linija{
	left:0%;
}

.burger{
	position:absolute;
	right:10px;
	top:10px;
	width:auto;
	height:auto;
	cursor: pointer;
	display:none;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  border-radius:2px;
  transition:transform 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.newline{
	width:auto;
	display:inline-block;
}

.main{
	width:100%;
	position:absolute;
	left:0;
	top:90px;
	background:linear-gradient(90deg, #ffffff 0%, #dddddd 100%);
	overflow-x:hidden;
}
.home{
	position:relative;
	float:left;
	width:100%;
	margin:0;
	text-align:center;
	overflow:hidden;
}

.about{
	position: relative;
	float: left;
	width:100%;
	padding:0;
	left:0;
	height:auto;
	text-align:left;
	font-family:oswald;
	overflow:hidden;
	font-size:2.5vw;
	text-align: center;
	background-color: white;
}

.scSlider {
	position: absolute;
	top:25vw;
	left:20%;
	width: 60%;
	height: auto;
  }
  

  .scValue{
	  position: absolute;
	  left:48%;
	  top:28vw;
  }
  .showcase{
	  width:100%;
	  position: relative;
	  margin: 0;
	  height: auto;
	  min-height: 40vw;
	  background: white;
  }

  .scPhoto{
	  position: absolute;
	  top:2vw;
	  left:30%;
	  width: 40vw;
	  height: auto;
	  background: none;
	  opacity: 0;
	  transition:opacity ease 1s;
  }

.scPhotoTint{
	position: absolute;
	top:2.5vw;
	left:30%;
	width: 40vw;
	height: 19vw;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition:background-color ease 0.5s;
}

.forscroll{
	position:absolute;
	top:-100px;
	left:0;
	width:0;
	height:0;
}

.logo{
	position: absolute;
	top:20%;
	height:60%;
	left:1vw;
}

.homeproducts{
	margin: 0;
	padding: 2vw 0;
	width: 100%;
	height:auto;
	min-height: 80vh;
	background-color: #ddd;
	border-bottom: double #333 1vw;
}

.oneside{
	position: relative;
	float: left;
	margin:0 5%;
	width:40%;
	height: auto;
	background-color: rgba(24,26,48,0.7);
	border-radius: 20px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	transition:background-color ease 0.2s;
}

.oneside:hover{
	background-color: rgba(24,26,48,0.5);
}
.onesideimg{
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	mix-blend-mode: multiply;
}

.onesidesvg{
	position: absolute;
	top:2vw;
	width: 25%;
	left:37.5%;
	cursor: pointer;
}

.onesidetext{
	position: relative;
	font-size: 1.7vw;
	width: 80%;
	color: white;
	margin: 15vw 10% 0 10%;
}

.moreinfo{
	position: relative;
	margin: 3vw auto;
	width: auto;
	max-width: fit-content;
	height: auto;
	padding: 0.5vw;
	border: solid white 0.3vw;
	border-radius: 50px;
	color: white;
	font-size: 1.5vw;
	font-family: poppins;
	cursor: pointer;
	transition: ease 0.3s;
	background-color: rgba(255, 255, 255, 0.15);
}

.moreinfo:hover{
	color:#ae0000;
	border-color: #ae0000;
}

.divTitle{
	width:100%;
	position: relative;
	margin: 0;
	height: auto;
	font-size: 2.5vw;
	color: rgba(24,26,48,0.7);
}

.aboutCars{
	width:100%;
	position: relative;
	float: left;
	margin: 0;
	padding-bottom: 3%;
	height: auto;
	background: #ae0000;
	color:white;
	text-align: left;
	border-bottom: double #333 1vw;
}

.aboutObjects{
	width:100%;
	position: relative;
	float: left;
	margin: 0;
	padding-bottom: 3%;
	height: auto;
	background: #394664;
	color:white;
	text-align: left;
}

.aboutCarsTitle{
	position: relative;
	float: left;
	width: 94%;
	padding: 3%;
}

.aboutObjectsTitle{
	position: relative;
	float: left;
	width: 45%;
	padding:3% 3% 3% 47%;
}

.aboutCarsText{
	position: relative;
	float: left;
	font-size: 0.5em;
	width: 45%;
	padding:0 5%;
}

.aboutObjectsText{
	position: relative;
	float: right;
	font-size: 0.5em;
	width: 45%;
	padding:0 5%;
}

.aboutCarsPhoto{
	position: relative;
	float: left;
	width:38%;
	padding:0;
	margin-top: -6%;
	margin-left: 7%;
}

.aboutObjectsPhoto{
	position: relative;
	float: right;
	width:38%;
	padding:0;
	margin-top: -7%;
	margin-right: 7%;
}

.kontaktiraj{
	width: fit-content;
	margin: 2vw auto;
	padding: 0 1.5vw;
	color:rgba(8, 14, 78, 0.7);
	border-radius: 50px;
	border:solid rgba(8, 14, 78, 0) 0vw;
	border-left:solid rgba(8, 14, 78, 0.7) 0.15vw;
	border-right:solid rgba(8, 14, 78, 0.7) 0.15vw;
	transition: border ease 0.3s;
	cursor: pointer;
}

.kontaktiraj:hover{
	border:solid rgba(8, 14, 78, 1) 0.25vw;
	color:rgba(8, 14, 78, 1);
}

.kontakt{
	width:100%;
	position: relative;
	float: left;
	margin: 0;
	padding-bottom: 3%;
	height: 40vh;
	background: rgba(15, 17, 20, 0.9);
	color:white;
	text-align: left;
}

.col1{
	position: relative;
	float: left;
	width: 30%;
	margin:0 0 0 10%;
	height:100%;
}
.col2{
	position: relative;
	float: left;
	width: 50%;
	padding: 0 0 0 10%;
	margin:0;
	height:95%;
}

.footerlogo{
	position: relative;
	float: left;
	width: 80%;
	margin:10%;
	opacity: 0.6;
}

.kontaktTitle{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 5%;
	color:rgba(255,255,255, 0.6)
}

.finalfooter{
	font-family: montserrat;
	width:90%;
	padding: 15px 5% 5px 5%;
	position: relative;
	float: left;
	margin: 0;
	height:35px;
	font-size: 15px;
	color:#444;
	background-color: #121212;
	border-top: solid 1px black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.links{
	font-size: 2vw;
	cursor:pointer;
	color:white;
	text-decoration: none;
	transition:color ease 0.2s;
	margin-left: 10%;
}
.social{
	position:relative;
	height:2.5vw;
	cursor:pointer;
	margin:0;
	vertical-align:sub;
	fill:white;
	transition:fill ease 0.2s;
}
.links:hover .social{
	fill:#ae0000;
}
.links:hover{
	color: #ae0000;
}

@media screen and (max-width:1000px){
	.burger{
		display:block;
	}

	.linksHolder{
		display:none;
		
		padding: 3vh 0;
	}

	.headerLinks{
		width:auto;
		margin:10px;
	}

	.changeHolder{
		display:block;
	}

	.newline{
		width:100%;
		display:block;
	}

	.header{
		min-height:50px;
		height:auto;
	}
	
	.slider {
		height: 2vh;
		border-radius: 2vh;
	  }
	  
	  .slider::-webkit-slider-thumb {
		width: 2vh;
		height: 2vh;
		border-radius: 2vh;
	  }
	  
	  .slider::-moz-range-thumb {
		width: 2vh;
		height: 2vh;
		border-radius: 2vh;
	  }

	.displayNone{
		display: none;
	}

}
@media screen and (max-width:650px){
	.oneside{
		width:90%;
		margin:5%;
		min-height: 50vh;
	}

	.onesidetext{
		margin: 35% 10% 0 10%;
		font-size: 2em;
	}

	.moreinfo{
		font-size: 2em;
		margin: 3vh auto;
	}

	.main{
		top:50px;
	}

	.divTitle{
		font-size: 2em;
	}

	.scPhoto{
		width: 80vw;
		left:10vw;
	}

	.scPhotoTint{
		width: 79vw;
		height: 39vw;
		left:10.5vw;
	}

	.scSlider{
		top:45vw;
		width: 90%;
		left:5%;
	}

	.showcase{
		min-height: 50vh;
	}

	.aboutCars{
		font-size: 2em;
	}

	.aboutCarsText{
		width: 90%;
	}

	.aboutCarsPhoto{
		margin:5%;
		width: 70%;
	}

	.aboutObjects{
		font-size: 2em;
	}

	.aboutObjectsTitle{
		float: left;
		padding:3%;
		width:90%;
	}

	.aboutObjectsText{
		width: 90%;
		float: left;
	}

	.aboutObjectsPhoto{
		margin:5%;
		width: 70%;
		float: left;
	}

	.kontaktiraj{
		font-size: 2em;
	}

	.finalfooter{
		font-size: 1em;
	}

	.kontakt{
		height: 25vh;
	}

	.kontaktTitle{
		margin-top: 10%;
		font-size: 2em;
	}

	.footerlogo{
		width:95%;
		margin:20% 2.5%;
	}
}


/*radio css*/

.container {
	display: inline-block;
	margin:0 20px;
	position: relative;
	padding-top: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: 0;
	transition: opacity ease 0.3s;
  }
  
  /* Hide the browser's default radio button */
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
	background-color: #ae0000;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
	   top: 9px;
	  left: 9px;
	  width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background: white;
  }